<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form method="post" enctype="multipart/form-data">
      <!-- <input name="jsonData" type="text" /> -->
      <input name="jsonData" type="file"  />
      <input type="submit" value="Submit" />
    </form>
    <%= columns %>
    <div style="white-space:pre-wrap;">
      <%- data %>
    </div>
  </body>
</html>
