<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form method="post">
      <input name="jsonData" type="text" />
      <input type="submit" value="Submit" />
    </form>
    <%= columns %> <br />
    <%= data %>
  </body>
</html>
